/* https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd */

.header {
  background-color: #1B263B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e0e1dd;
}

.navbar { /*FIXME*/
  background-color: #0d1b2a;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: #e0e1dd;

}
