/* https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd */

.header {
  background-color: #1B263B;
  flex-direction: column;
  min-height: 100vh;
}

.inputarea {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    text-align: center;
    margin-top: .5rem;
}

.searcharea {
  border: .5rem solid #fff;
  border-radius: .7rem;
}
