.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  padding: 10px;
  color: #fff;
}

.navbar li:hover {
  background-color: #555;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar li a:hover {
  color: #fff;
  text-decoration: underline;
}
