.classVisualization {
  font-size: 1rem;
  background-color: #A5D7E8;
  padding: .3rem;
  border-radius: 1rem;
  width: 90vw;
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
}

.classVisualization ul {
  color: #010101;
  font-weight: semi-bold;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  list-style: none; /*takes away bullets */
  padding: 0;
}

.classVisualization li {
  background-color: #e3e3e3;
  padding-left: 20px;
  position: relative;
}

.classVisualization li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #00456b;
  margin-right: 10px;
}

